/* Container for the message input box */
.messageBox {
    background-color: #4b5563;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Style for the input within the message box */
.messageBox input {
    background-color: #4b5563;
    border: 0;
    width: 50%;
    color: white;
    font-size: 1em;
}

.messageBox input:focus {
    outline: none;
}

.messageBox input::placeholder {
    color: white;
}

/* Button to add a message */
.plus-btn {
    background-color: #4285f4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    /* Add spacing between the input and the button */
}

.plus-btn:hover {
    background-color: #3367d6;
}

/* List of messages */
.list {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
    padding: 10px;
}

.message {
    border-radius: 20px;
    padding: 10px;
    max-width: 80%;
}

.my-message {
    background-color: #3367d6;
    align-self: flex-end;
}

.other-message {
    background-color: brown;
    align-self: flex-start;
}