.login {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.login button {
    padding: 2px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login button:hover {
    background-color: #357ae8;
}

.shape {
    position: absolute;
    background-color: #4285f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 14rem;
    height: 14rem;
    margin: 0;

}

.top-left {

    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    top: -10rem;
    left: -2.5rem;
}

.bottom-right {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    bottom: -10rem;
    right: -2.5rem;
}

@media (max-width: 768px) {

    .top-left {
        top: -10rem;
        left: -2.5rem;
    }

    .bottom-right {
        bottom: -10rem;
        right: -2.5rem;
    }
}